@model IEnumerable<Modulos.Avanzado.Sabados.Dominio.Direccion>

@{
    ViewData["Title"] = "Index";
}

<h1>@ViewBag.NombreCliente</h1>

<p>
    <a asp-action="Create" asp-route-ClienteID="@ViewBag.ClienteID">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Calle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumerodeCalle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Provincia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pais)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apartamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClienteId)
            </th>
            
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Calle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumerodeCalle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Provincia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pais)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apartamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClienteId)
            </td>
             
             
            <td>
                @Html.ActionLink("Edit", "Edit", new {   id=item.Id   }) |
                @Html.ActionLink("Details", "Details", new {   id=item.Id   }) |
                @Html.ActionLink("Delete", "Delete", new {   id=item.Id   })
            </td>
        </tr>
}
    </tbody>
</table>
