@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model MVC.MIR.VIER.Models.SimpleModel
<html>
<body>
    <h1> ACME S.R.L.</h1>
   <p>
         @Model.Value

   </p>

   <form method="post" action="./home/save?title=14">

        <input type="text" name="nombre" />
        <input type="text" name="addres.Calle" />

        <input type="submit" value="submit" />

   </form>


     <p> 
    @ViewBag.Title  
    @ViewBag.Footer 
    @ViewBag.Etc   

    @ViewData["Data"] 

    </p>
     
    
</body>
</html>